@model Synchronic_World.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="registerContent">

    <h2>Login</h2>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @using (Html.BeginForm(actionName: "Login", controllerName: "User", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.mail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mail)
            @Html.ValidationMessageFor(model => model.mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <button type="submit">Login</button>
        </p>

        if (ViewBag != null)
        {
            <p style="color:red;">@ViewBag.Error</p>
        }
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}